<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <strong><%= form.label "First Name" %></strong><br>
    <%= form.text_field :fName %>
  </div>
  <div class="field">
    <strong><%= form.label "Last Name" %></strong><br>
    <%= form.text_field :lName %>
  </div>
  <div class="field">
   <strong> <%= form.label :email %></strong><br />
    <%= form.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <strong><%= form.label :password %></strong><br>
    <%= form.password_field :password, placeholder: "Leave blank if unchanged" %>
  </div>
  
  <div class="field mt-1">
    <strong><%= form.label :gender %></strong><br />
    <%= form.radio_button :gender, 'Male'%> Male 
    <%= form.radio_button :gender, 'Female' %> Female 
    <%= form.radio_button :gender, 'Other' %> Other<br />
  </div>
  <div class="field mt-1">
    <strong><%= form.label "Date of Birth" %></strong><br>
    <%= form.date_field :dateOfBirth %> <br>
  </div>
  <div class="field mt-1">
    <strong><%= form.label :contact %></strong><br>
    <%= form.number_field :contact, maximum:10 %> 
  </div>

  <div class="mt-2">
    <strong><%= form.label "Role" %></strong>
    <%= collection_select(:user, :role_id, Role.all, :id, :name, { prompt: true }) %> 
  </div>

  <div class="field mt-2">
    <strong><%= form.label "Area of Expertise" %></strong><br />
    <%= form.collection_check_boxes :expertise_ids, Expertise.all, :id, :name do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>

  </div>
   <fieldset class="field mt-2">
        <strong>Address:</strong>
        <%= form.fields_for :addresses do |addresses_f| %>
            <%= render "address_fields", form: addresses_f %>
        <% end %>
        <%= link_to_add_fields "Add Addresses", form, :addresses %>

    </fieldset>

  <div>
    <%= form.submit %>
  </div>
<% end %>
