<!DOCTYPE html>
<html>
  <head>
    <title> APEX </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <div class="flex-container mb-5" >
        <header class="d-flex flex-row-reverse" style="background-color: #e3f2fd">
          <div class="p-3">
            <% if user_signed_in? %>
              Hello <%=current_user.role.name%> : <%= "#{current_user.fName.capitalize()}  #{current_user.lName.capitalize()}"%>. <br>

              <div class="d-flex">
                <%= button_to "Edit Profile" ,edit_user_registration_path, :method => :get,class:"btn btn-dark d-flex me-2 " %>
                <%= button_to "Sign out",destroy_user_session_path,:method => :delete, class:"btn btn-danger d-flex"  %>
              </div>
            <% else %>
              <a  class="btn btn-primary me-2" href="/users/sign_up">Sign up</a> 
              <a class="btn btn-primary ms-2"  href="/users/sign_in">Sign in</a>
            <% end %>
          </div>

          <div class="p-3"> 
            <% if user_signed_in? %>
              <% if  @current_user.admin? %>
                <nav>
                  <a  class="btn btn-secondary m-1" href="/projects">Projects</a> 
                  <a  class="btn btn-secondary m-1" href="/admin/users">Users</a> 
                  <a  class="btn btn-secondary m-1" href="/roles">Roles</a> 
                  <a  class="btn btn-secondary m-1" href="/expertises">Expertise</a>
                </nav>
                <% else %>
                  <nav>
                  <a  class="btn btn-secondary m-1" href="/projects">Projects</a> 
                  <a  class="btn btn-secondary m-1" href="/expertises">Expertise</a>
                </nav>

                <% end %>
            <% end %>
          </div>

        </header>

        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>

        <main class="container p-3">
          <%= yield %>
        </main>
      </div>
  </body>
</html>
